.page-item {
  background: $white 0% 0% no-repeat padding-box;
  border: 1px solid $table-border-primary;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}
.page-link {
  background-color: transparent;
  border: none;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: $pure-black;
  &:hover,
  &:focus-visible,
  &:focus {
    background-color: transparent;
    outline: 0;
    box-shadow: none;
  }
}
.page-item.active {
  border-color: $admin;
  background: $admin 0% 0% no-repeat padding-box;
  border-radius: 3px;
  .page-link {
    background-color: transparent;
    border: none;
  }
}
