.remove-seperator-span-padding{
    span{
        padding: 0 !important;
    }
}

.modified-settings{
    .select__menu{
        z-index: 100000;
    }

}

.input-form-settings{
    .css-1s2u09g-control{
        border-radius: 0.5rem;
        border: 0.0625rem solid #d1d7e0;
    }
    .css-14el2xx-placeholder{
        color: #28252e;
    }

    
}