.privacy-policy,
.terms-of-condition {
  h5 {
    display: flex;
    margin-bottom: 0;
    .number {
      margin-right: 1.5rem;
    }
  }
  color: #28252e;
  font-size: $font-size-sm;
  font-family: $font-family-roboto;
  text-align: justify;
  margin-left: 9px;
  margin-right: 9px;

  .terms-wrapper-class {
    margin-top: 1rem;

    > div {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .number {
    margin-right: 1rem;
  }
  .privacy-title,
  .terms-title {
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
    font-family: $font-family-roboto;
    font-weight: 700;
    letter-spacing: 0px;
    color: #28252e;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-lg-2;
      margin-left: 1rem;
      margin-top: 1rem;
      padding-left: 1rem;
    }
  }
}

.privacy-modal {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}

.privacy-policy-close {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  .cross {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background: #28252e 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    right: -15px;
    font-size: 2rem;
  }
  .small-cross {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background: #28252e 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    right: -9px;
    bottom: -15px;
    font: normal normal normal 25px/35px Roboto;
  }
}

.read-terms {
  cursor: pointer;
}
